Binaries/*
Intermediate/*
Saved/EditorCooked/Android_Multi/Engine/Content/VREditor/*
Saved/EditorCooked/Android_Multi/Engine/Content/EngineMaterials/*
Saved/EditorCooked/Android_Multi/Engine/Content/EngineMeshes/*
Saved/EditorCooked/Android_Multi/Engine/Content/EngineResources/*
Saved/EditorCooked/Android_Multi/Engine/Content/EngineSounds/*
Saved/EditorCooked/Android_Multi/Engine/Content/Functions/*
Saved/EditorCooked/Android_Multi/Engine/Content/Maps/*
Saved/EditorCooked/Android_Multi/Engine/Content/MapTemplates/*
Saved/EditorCooked/Android_Multi/Engine/Content/MobileResources/*
Saved/EditorCooked/Android_Multi/Engine/Content/Tutorial/*
