Binaries/*
Intermediate/*
Saved/EditorCooked/Android_Multi/Engine/Content/EngineMaterials/*
Saved/EditorCooked/Android_Multi/Engine/Content/EngineMeshes/*
Saved/EditorCooked/Android_Multi/Engine/Content/EngineResources/*

